[data-changeColour="hover"] {
  transition-duration: 0.8s;
}

[data-changeColour="hover"]:hover {
  /* background-color: rgb(171, 181, 190);  */
  background-color: rgb(13, 110, 253);
  transition-property: background-color;
  transition-duration: 0.8s;
  color: white;
}

#square-border {
  border-radius: 0px;
  border-color: transparent;
}

#image:hover {
  border-color: transparent;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}